#columnID{
    width:20%;
}
#columnName{
    width:70%;
}
#camcolor{
    width:10;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
  }

body{
    background: repeating-linear-gradient(
  45deg,
  #d4d8fc,
  #d4d8fc 10px,
  #c8cffa 10px,
  #c8cffa 20px
);
}

td{
    font-weight: bold;
}
.error{
  color:red;
}

.success{
  color:green;
}

.btn-index {
  width: 200px !important;
  background-color:rgb(255, 255, 255)
}

#cameraButtonsList{
  overflow-x: auto;
}
.square{
  width:50px;
  height:50px;
  border: 3px solid black;

}
