{% extends 'base.html' %}
{%block title%}Add Lecture{%endblock%}
{% block body %}
    
  <div class='container col-lg-8 jumbotron '>
  <form id="addLectureForm"  method="POST" enctype="multipart/form-data" >
    <h4>Add a new lecture:</h4>

      <div class="form-group">
      
     <div class="form-group">
     <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text ">Lecture Name:</span>
       </div>
       <input type="text" name='lectureName' class="form-control" required/>
     </div>
    </div>

    <div class="form-group">
      <div class="input-group">
         <div class="input-group-prepend">
           <span class="input-group-text ">Teacher Name:</span>
        </div>
        <input type="text" name='lectureTeacher' class="form-control" required/>
      </div>
     </div>

    <div class="form-group">
      <label for="lectureMajor">Select Major:</label>
      <select class="form-control" name="lectureMajor">
        {% for major in majors%}
        <option value='{{major}}'>{{major}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="collegeYear">Select Year:</label>
      <select class="form-control" name="lectureYear">
        {% for year in years %}
        <option value='{{year}}'>{{year}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      
      <div class="input-group col-lg-6">
        <div class="input-group-prepend">
          <span class="input-group-text w-100">Select Day</span>
       </div>

      <select class="form-control " name="lectureDay">
        {% for day in days %}
        <option value='{{day}}'>{{day}}</option>
        {% endfor %}
      </select>
      </div>


      <div class="input-group col-lg-6">
        <div class="input-group-prepend">
          <span class="input-group-text">Lecture Time</span>
       </div>
      <input class="form-control" id="lectureTime" type="time" name="lectureTime" step="3600" value='06:00'>
       </div>

       <div class="input-group col-lg-6">
        <div class="input-group-prepend">
          <span class="input-group-text ">Lecture Length</span>
       </div>
      <select class="form-control" name="lectureLength">
    
        <option value='2'>Two Hours</option>
        <option value='3'>Three Hours</option>
      </select>
      </div>

    </div>

   



     <button type='submit' class="btn btn-primary col-lg-4 justify-self-center">Add</button>
    </form>


{% endblock %}