{% extends 'base.html' %}
{%block title%}Edit Lecture{%endblock%}
{% block body %}
    
  <div class='container col-lg-8 jumbotron '>
  <form id="addLectureForm"  method="POST" enctype="multipart/form-data" >
    <h4>Add a new lecture:</h4>

      <div class="form-group">
      
     <div class="form-group">
     <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text ">Lecture Name:</span>
       </div>
       <input type="text" value="{{lecture['lectureName']}}" name='lectureName' class="form-control" required/>
     </div>
    </div>

    <div class="form-group">
      <div class="input-group">
         <div class="input-group-prepend">
           <span class="input-group-text ">Teacher Name:</span>
        </div>
        <input type="text" value="{{lecture['lectureTeacher']}}"  name='lectureTeacher' class="form-control" required/>
      </div>
     </div>

    <div class="form-group">
      <label for="lectureMajor">Select Major:</label>
      <select class="form-control" name="lectureMajor">
        {% for major in majors%}
        {% set selected = 'selected' if lecture['lectureMajor'] == major else ''%}
        <option value='{{major}}' {{selected}}>{{major}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="collegeYear">Select Year:</label>
      <select class="form-control" name="lectureYear">
        {% for year in years %}
        {% set selected = 'selected' if lecture['lectureYear'] == year else ''%}
        <option value='{{year}}' {{selected}}>{{year}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      
      <div class="input-group col-lg-6">
        <div class="input-group-prepend">
          <span class="input-group-text w-100">Select Day</span>
       </div>

      <select class="form-control " name="lectureDay">
        {% for day in days %}
        {% set selected = 'selected' if lecture['lectureDay'] == day else ''%}
        <option value='{{day}}' {{selected}}>{{day}}</option>
        {% endfor %}
      </select>
      </div>


      <div class="input-group col-lg-6">
        <div class="input-group-prepend">
          <span class="input-group-text">Lecture Time</span>
       </div>
      <input class="form-control" id="lectureTime" type="time" name="lectureTime" step="3600" value="{{lecture['lectureTime']}}">
       </div>

       <div class="input-group col-lg-6">
        <div class="input-group-prepend">
          <span class="input-group-text ">Lecture Length</span>
       </div>
      <select class="form-control" name="lectureLength">
         {% set selected = 'selected' if lecture['lectureLength'] == '2' else ''%}
        <option value='2' {{selected}}>Two Hours</option>
        {% set selected = 'selected' if lecture['lectureLength'] == '3' else ''%}
        <option value='3' {{selected}}>Three Hours</option>
      </select>
      </div>

    </div>
    
      <input type='hidden' name='oldLectureName' value="{{lecture['lectureName']}}"/>
      <button type='submit' class="btn btn-primary col-lg-4 justify-self-center">Add</button>
    </form>


{% endblock %}