{% extends 'base.html' %}
{%block title%}General Settings{%endblock%}
{% block body %}

  <div class='container col-lg-8 jumbotron '>
  <form id="generalSettingsForm"  method="POST" enctype="multipart/form-data" >
    <h4>General Settings:</h4>
    {% for cameraNo in range(0,MAX_CAM_NO) %}
    
    <div class="form-group">
        <div class="input-group mb-3 input-group-sm">
           <div class="input-group-prepend">
            
             <span class="input-group-text ">Camera {{'{:02d}'.format(cameraNo)}} IP <span class='d-lg-inline d-none'>Address</span> :</span>
          </div>
          <input type="text" name='cameraIP{{cameraNo}}' pattern="^(?:(?:25[0-5]|2[0-4]\d|[01]?\d\d?)\.){3}(?:25[0-5]|2[0-4]\d|[01]?\d\d?)(?::\d{0,4})?$" class="form-control" value="{{cameraIPsList[cameraNo] if cameraNo < len(cameraIPsList) }}" />
        </div>
       </div>

      {% endfor %}

   <button type='submit' class="btn btn-primary col-lg-4 justify-self-center">Save Settings</button>
    </form>
</div>

{% endblock %}