<!DOCTYPE html>
<html>
<head>
  <title>Students List</title>
  <meta http-equiv="X-UA-Compatible" content='IE-Edge'/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
    <div class='container'>
        <div class='page-header'>
          <h1>Infinity Project <small>An Automatic Attendance System</small></h1>
        </div>
    </div>
    
<div class='container col-lg-8 jumbotron'>
    <div class='row justify-content-center'>
        <a href="/classMonitor"><button class='btn btn-lg btn-outline-primary py-3 btn-index m-1'>Class Monitor</button></a>
        <a href="/addStudent"><button class='btn btn-outline-primary btn-lg py-3 btn-index m-1'>Add Student</button></a>
    </div>
    <div class='row justify-content-center'>
        <a href="/studentsList"><button class='btn btn-outline-primary btn-lg py-3 btn-index m-1'>Students List</button></a>
        <a href=""><button class='btn btn-outline-primary  btn-lg py-3 btn-index m-1'>Class Monitor</button></a>
    </div>
</div>



<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'lib/css/bootstrap.css')}}"></link>
<script type="text/javascript" src="{{ url_for('static', filename = 'lib/js/jquery-3.4.1.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'lib/js/bootstrap.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/studentsList.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/main.css')}}"/>
</body>
</html>
