{% extends 'base.html' %}
{%block title%}Infinity Project{%endblock%}
{% block body %}

<div class='container col-lg-8'>
    <div class='row justify-content-center'>
        <a href="/classMonitor"><button class='btn btn-lg btn-outline-primary py-3 btn-index m-1'>Class Monitor</button></a>
        <a href="/addStudent"><button class='btn btn-outline-primary btn-lg py-3 btn-index m-1'>Add Student</button></a>
    </div>
    <div class='row justify-content-center'>
        <a href="/studentsList/0"><button class='btn btn-outline-primary btn-lg py-3 btn-index m-1'>Students List</button></a>
        <a href="generalSettings"><button class='btn btn-outline-primary  btn-lg py-3 btn-index m-1'>General Settings</button></a>
    </div>


{% endblock %}