{% extends 'base.html' %}
{%block title%}Lectures List{%endblock%}
{% block body %}
    
  <div class='container col-lg-8  col-sm-12 jumbotron '>
    <a href="/addLecture"><button class='btn btn-success float-right mb-1'>Add a new lecture</button></a>

    <table class='table table-striped'>
        <tr>
            <th>Lecture Name</th>
            <th class='d-sm-none d-lg-table-cell d-none'>Lecture Teacher</th>
            <th>Lecture Time</th>
            <th></th>
            <th></th>
        </tr>
        {% for lecture in lectures %}
        <tr>
        <td><a href="/lectureReview/{{lecture['lectureId']}}">{{lecture['lectureName']}}</a></td>
        <td class='d-sm-none d-lg-table-cell d-none'>{{lecture['lectureTeacher']}}</td>
        <td >{{lecture['lectureTime']}}</td>   
        <th><a href="/editLecture/{{lecture['lectureId']}}"><button class='btn btn-primary'>Edit</button></a></th>
        <th><button onclick='changeDeleteModal("{{lecture['lectureId']}}")'
           class='btn btn-danger' data-toggle="modal" data-target="#myModal">Delete</button></th> 
        </tr>
         {% endfor %}
    </table>

    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            
            <h4 class="modal-title">Delete Confirmation</h4>
          </div>
          <div class="modal-body">
            <p id='deleteModalText'></p>
          </div>
          <div class="modal-footer">

            <a id='deleteLink'><button class='btn btn-danger'>Delete</button></a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
    
      </div>
    </div>


   <script type="text/javascript" src="{{ url_for('static', filename = 'js/lecturesList.js')}}"></script>

{% endblock %}