{% extends 'base.html' %}
{%block title%}Lecture Review{%endblock%}
{% block body %}
    
<div class='container col-lg-8  col-sm-12 jumbotron '>
    <h4>Lecture Review:</h4>
  {% if not attendanceInfo %}
    <h5 class='error'>No attendance entries to show</h5>
  {% endif%}

<div id="accordion">  
  {% for i,date in enumerate(attendanceInfo) %}
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapse{{i}}">
          Attendance {{date}}
       
        </a>
      </div>
      <div id="collapse{{i}}" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <table class='table table-striped'>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Percentage</th>
            </tr>
    {% for studentName in  attendanceInfo[date] %}
      <tr>
        <td>{{attendanceInfo[date][studentName]['id']}}</td>
        <td>{{attendanceInfo[date][studentName]['name']}}</td>
        {% set  percentage = attendanceInfo[date][studentName]['attendancePercentage']|int %}
        <td>
          {% if percentage >= 75%}
            {% set progessType='success'%}
          {% elif percentage >= 50%}
            {% set progessType='info'%}
          {% elif percentage >= 25%}
            {% set progessType='warning'%}
          {% elif percentage >= 0%}
            {% set progessType='danger'%}
          {% endif %}

          <div class="progress" style='height:30px;' data-toggle="tooltip" title='Recognition Times: {{attendanceInfo[date][studentName]["timesOfRecogniton"]}}'>
            <div class="progress-bar bg-{{progessType}}" role="progressbar" style="width: {{percentage if percentage >=10 else '10'}}%"  aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100">{{percentage}}%</div>
          </div>
        </td>
      </tr>
    {%endfor%}
  </table>
  </div>
</div>
</div>

  {%endfor%}
{% endblock %}