{% extends 'base.html' %}
{%block title%}Students List{%endblock%}
{% block body %}
    
  <div class='container col-lg-8  col-sm-12 jumbotron '>
    <a href="/addStudent"><button class='btn btn-success float-right mb-1'>Add a new student</button></a>

    <table class='table table-striped'>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th class='d-sm-none d-lg-inline d-none'>Major</th>
            <th class='d-sm-none d-lg-inline d-none'>Admission Year</th>
            <th></th>
            <th></th>
        </tr>
        {% for student in students %}
        <tr>
        <td>{{student.ID}}</td>
        <td>{{student.name}}</td>
        <td class='d-sm-none d-lg-inline d-none'>{{student.major}}</td>
        <td class='d-sm-none d-lg-inline d-none'>{{student.admissionYear}}</td>   
        <th><a href="/editStudent/{{student.ID}}"><button class='btn btn-primary'>Edit</button></a></th>
        <th><button onclick='changeDeleteModal("{{student.ID}}","{{student.name}}")'
           class='btn btn-danger' data-toggle="modal" data-target="#myModal">Delete</button></th> 
        </tr>
         {% endfor %}
    </table>

    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            
            <h4 class="modal-title">Delete Confirmation</h4>
          </div>
          <div class="modal-body">
            <p id='deleteModalText'></p>
          </div>
          <div class="modal-footer">

            <a id='deleteLink'><button class='btn btn-danger'>Delete</button></a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
    
      </div>
    </div>


   <script type="text/javascript" src="{{ url_for('static', filename = 'js/studentsList.js')}}"></script>
</div>

{% endblock %}